*{
    margin: 0;
    /* border: 1px solid black; */
}

.background-container{
    background-image: url(../../../assets/images/website-bg.svg);
    background-size: cover;
}

.background{
    background-color: rgba(255, 255, 255,0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offering{
    margin: 4rem 4rem 0 4rem ;
    display: grid;
    grid-template: 1fr /repeat(4,1fr);
    gap: 2rem;
}

.offering-card{
    background-color: white;
    /* width: 20rem; */
    border-radius: 10px;
    padding: 2rem;
}

.offering-card h1{
    margin-bottom: 1rem;
    font-size: 1.7rem;
}

button{
    background-color: #fe5d26;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.2s ease-in;
    margin: 0;
}

button i{
    transition: 0.2s ease-in;
}

button:hover{
    background-color: #ff5015;
}

button:hover i{
    transform: translateX(2px);
}

.grid{
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(12, 1fr);
    height: 10rem;
}

.grid img{
    width: 100%;
}

img{
    grid-column: 5 / -1;
    grid-row: 4 / -1;
}

.grid button{
    grid-row: 2 / span 3;
    grid-column: 1 / span 8;
}

.deal{
    box-sizing: border-box;
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    padding: 2rem;
    margin-top: 5rem;
    line-height: 4rem;
}

.deal h1{
    color: white;
}

.try{
    margin-bottom: 2rem;
}

@media only screen and (max-width: 1000px){

    .deal{
        flex-direction: column;
        line-height: 2rem;
    }

    .offering{
        flex-direction: column;
        margin-top: 1rem;
    }

    .deal h1{
        font-size: 1.5rem;
        width: 100%;
    }
    button{
        padding: 0.8rem 0.8rem;
        font-weight: 600;
    }

    .try{
        font-size: 1.5rem;
        text-align: center;
    }

    .offering{
        grid-template: repeat(2,1fr)/repeat(2,1fr);
    }
}
