<div class="background-container">
    <div class="background">
        <div class="offering">
            <div class="offering-card" *ngFor="let offering of offerings">
                <h1>{{ offering.name }}</h1>
                <p>{{ offering.description }}</p>
            <div class="grid">
                <button (click)="navigateToShop()"> SHOP NOW <i class='fa fa-angle-double-right' style='font-size:24px'></i></button>
                <img [src]="offering.image" alt="fresh-product">
            </div>
            </div>
        </div>
        <div class="deal">
            <h1>If you are willing and obedient, you will eat the good things of the land <br> - Isaiah 1:19</h1>
            <button (click)="navigateToShop()"> SHOP NOW <i class='fa fa-cart-arrow-down' style='font-size:24px'></i></button>
        </div>
        <i class="fa fa-caret-down" style="font-size:36px; margin: -1rem 0 1rem 0;"></i>
        <h1 class="try">Shop Today! Or Register For a Unique Experience!</h1>
    </div>
</div>
