*{
    margin: 0;
    /* border: 1px solid black; */
}

.background-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.title{
    font-size: 4rem;
}

.product-gallary{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    overflow: hidden;
}


.gallery-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
}

img{
    height: 15rem;
}

a{
    text-decoration: none;
    color: black;
    text-align: center;
    width: 80%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.gallery-item h1{
    font-size: 1.5rem;
}

.gallery-item p{
    font-size: 0.7rem;
    margin: 0;
}

.gallery-item .stars{
    display: flex;
}

h2{
    font-size: 1rem;
}

@media only screen and (max-width: 1000px){


    .background-container{
        gap: 1rem;
    }

    .title{
        margin-top: 2rem;
        font-size: 2.5rem;
        text-align: center;
    }

    img{
        height: 5rem;
    }

    .gallery-item h1{
        font-size: 1rem;
    }
    
    .product-gallary{
        display: grid;
        grid-template:  repeat(2,1fr) / repeat(2,1fr);
        overflow: hidden;
        gap: 2rem;
    }

}