.background{
    height: 125vh; background-color:white; 
    padding: 8rem 5rem 5rem 5rem;
  }

  h1{
   color: #fe5d26;
  }

.cart-table-head{
    background-color: #f9e4a44d;
}



.cart-headers{
    display: grid;
    grid-template: 1fr / repeat(5, 1fr);
}

    .cart-headers h2{
        margin: 0;
        font-size: 1rem;
        text-align: center;
        padding: 0.5rem 1rem;
        background-color: #f9e4a44d;
        border: 1px solid white;
    }

    .cart-items{
        display: grid;
        grid-template: 1fr / repeat(5, 1fr);
    }

    .grid-element{
        background-color: #fcf2d14d;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
        padding: 2rem 0;
    }

    .grid-element p{
        text-align: center;
    }

    .cart-footer{
        display: grid;
        grid-template: 1fr / repeat(5, 1fr);
    }

    .cart-btn-element{
        grid-column: span 5;
    }

    .clear-cart{
        background-color: #fe5d26;
        margin-top: 2rem;
        color: white;
        border: none;
        border-radius: 2px;
        padding: 0.5rem 1rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        font-family: inherit;
        font-size: 1rem;
        font-weight: 500;
        margin: auto;
    }

    .main{
        margin: 0 2rem 0 auto ;
    }

.image{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}
.image img{
    width: 4rem;
}

.close-btn{
    border-radius: 50%;
    border: 1px solid #828e9c;
    background: none;
    padding: 0.7rem;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn i{
    color: #828e9c;
}

.close-btn:hover{
    border: 1px solid black;
}

.close-btn:hover i{
    color: black;
}

.quantity{
    width: 2rem;
    padding: 0.5rem;
    border-radius: 2px;
    border: none;
}



.cart-totals{
    padding: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.cart-total-body td{
    padding: 1rem 5rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.cart-total{
    width: 50%;
}

.totals{
    font-size: 1.5rem;
}

.quantity-display{
    display: flex;
    gap: 2rem;
}

@media only screen and (max-width: 1000px){
    .background{
        padding: 5rem 0 0 0;
    }

    .cart-headers h2{
        padding: 1rem 0;
    }

    .background h1{
        text-align: center;
    }

    .quantity-display{
        flex-direction: column;
        gap: 1rem;
    }
    .image{
        flex-direction: column;
        gap: 1rem;
    }

    .grid-element p{
        font-size: 0.8rem;
    }

    .cart-totals{
        justify-content: center;
    }
}