*{
    margin: 0;
}


.about-us{
    padding-top: 10rem;
    height: 50vh;
    background-image: url(../../assets/images/website-bg.svg);
    text-align: center;
    font-size: 3rem;
}

.description-container{
    height: 100vh;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 10rem;
    gap: 8rem;
}

.description{
    width: 50%;
}

.description p{
    margin: 2rem 0;
}

.description-container img{
    width: 50%;
    border-radius: 10px;
    box-shadow: 0px 5px 8px #1818184d;
}