<div class="background-container">
    <div class="about-us">
        <h1>About Us</h1>
    </div>
    <div class="description-container">
        <div class="description">
            <h1>We Are Your Favourite Store.</h1>
            <p>Welcome to Yihsha Farms! We are your one-stop-shop for all your favorite Jamaican food and grocery items. Whether you are a Jamaican living abroad or someone who just loves Jamaican cuisine, we have everything you need to satisfy your cravings and bring the taste of Jamaica right to your doorstep.</p>

                <p>Our store features a wide range of Jamaican food products, including spices, seasonings, sauces, snacks, and more. From jerk seasoning to coconut milk, we have what you need to create delicious Jamaican dishes in your own kitchen  and we have what you need to snack on too!</p>  
                
                <p>At our online store, we understand the importance of quality and authenticity. That's why our products are sourced and shipped directly from Jamaica after all Nuh Weh Nuh Betta Dan Ya’ad.</p>
                
               <p>We take pride in providing our customers with excellent customer service and prompt delivery, so you can be sure that your order will arrive in a timely and efficient manner.  Our international shipping is offered to most countries, so no matter where you are in the world, you can enjoy the taste of Jamaica.</p>
                
                <p>Thank you for choosing our online Jamaican food store. We look forward to serving you and helping you satisfy your Jamaican food cravings!</p>
            <div class="mobile-img"><img src="../../assets/images/spices-166903.jpg" alt="descriptive image"></div>
        </div>
        <div class="desktop-img"><img src="../../assets/images/spices-166903.jpg" alt="descriptive image"></div>
    </div>
</div>
