*{
    margin: 0;
}


.about-us{
    padding-top: 10rem;
    height: 50vh;
    background-image: url(../../assets/images/website-bg.svg);
    background-size: cover;
    text-align: center;
    font-size: 3rem;
    width: 100%;
}

.description-container{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 10rem;
    gap: 8rem;
}

.description{
    width: 50%;
}

.description p{
    margin: 2rem 0;
}

.description-container img{
    width: 50%;
    border-radius: 10px;
    box-shadow: 0px 5px 8px #1818184d;
}

.mobile-img{
    display: none;
}


.desktop-img{
    display: block;
}

@media only screen and (max-width: 1000px){
    .about-us{
        padding-top: 10rem;
        height: 20vh;
        font-size: 1.5rem;
    }

    .mobile-img{
        display: block;
    }

    .description-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        gap: 8rem;
    }
    .description{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .description h1{
        width: 100%;
    }
    .desktop-img{
        display: none;
    }
}