.background-container{
    background-color: white;
    /* height: 100vh; */
    padding-top: 5rem;
    position: relative;
    z-index: 1;
}

.backdrop{
    background-color: #00000078;
    height: 30vh;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 3;
    position: relative;
    box-shadow: 0px 5px 8px #1818184d;
}

.backdrop-img{
    position: absolute;
    top: 5rem;
    height: 30vh;
    overflow: hidden;
    z-index: 2;
}

.backdrop-img img{
    width: 100%;
    margin-top: -140vh;
}

.backdrop button{
    width: 2rem;
    height: 2rem;
    padding: 0.1rem;
    background: none;
    border: 2px solid rgba(255, 255, 255, 0.615);
    border-radius: 5px;
    cursor: pointer;
}

.backdrop button:hover{
    background-color: #00000008;
}

.backdrop path{
    fill: rgba(255, 255, 255, 0.802);
}

.profile-img{
    position: relative;
    z-index: 4;
    margin: -4rem 0 0 4rem;
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    border: 0.3rem solid white;
    box-sizing: border-box;
    overflow: hidden;
}

.profile-img img{
    width: 100%;
    /* border-radius: 100%; */
}

.user-title{
    font-weight: 500;
    margin-left: 2rem;
}
.user-title span{
    font-weight: 600;
    color: #fe5d26;
}

.user-options{
    width: 80%;
    margin-left: 2rem;
    height: 50vh;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}

.grid-item{
    border: 1px solid #fe5d26;
    padding: 1.5rem 2rem;
    border-radius: 10px;
}

.grid-item h1{
    margin: 0;
}