*{
    margin: 0;
}


.about-us{
    padding-top: 10rem;
    height: 50vh;
    background-image: url(../../assets/images/website-bg.svg);
    background-size: cover;
    text-align: center;
    font-size: 3rem;
    width: 100%;
}

.description-container{
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 5rem;
}

.description-island{
    display: flex;
    width: 60%;
    margin-top: -30rem;
    gap: 2rem;
    padding: 2rem 5rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 5px 8px #1818184d;
}

.description{
    padding: 1rem;
    width: 50%;
    border: 1px solid #fe5d26;
    border-radius: 5px;
    text-align: center;
}

.description p{
    margin: 1rem;
}

.description-container img{
    width: 50%;
}

.mobile-ions{
    display: none;
}

.desktop-ions{
    display: block;
}

@media only screen and (max-width: 1000px){

    .desktop-ions{
        display: none;
    }

    .mobile-ions{
        display: block;
    }

    .about-us{
        padding-top: 10rem;
        height: 20vh;
        font-size: 1.5rem;
    }

    .description-container{
        height: 100vh;
    }
    

    .description-island{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        padding: 2rem 4rem;
        box-shadow: 5px 5px 8px #1818184d;
    }

    .description{
        width: 100%;
    }
}