<div class="background-container">
    <div class="about-us">
        <h1>Contact Us</h1>
    </div>
    <div class="description-container">
        <div class="description-island">
            <div class="description">
                <i class='fas fa-phone' style='font-size:36px;color:#fe5d26'></i>
                <p>+123 456 7890</p>
                <p>+123 456 7890</p>
            </div>
            <div class="description">
                <i class='fas fa-envelope-open' style='font-size:36px;color:#fe5d26'></i>
                <p>info@example.com</p>
                <p>support@example.com</p>
            </div>
            <div class="description">
                <i class='	fas fa-map-marker-alt' style='font-size:36px;color:#fe5d26'></i>
                <p>1569 Ave, New York,</p>
                <p>NY 10028, USA</p>
            </div>
        </div>
    </div>
</div>
