<div class="background-container">
    <div class="about-us">
        <h1>Contact Us</h1>
    </div>
    <div class="description-container">
        <div class="description-island">
            <div class="description">
                <i class='fa fa-phone desktop-ions' style='font-size:36px;color:#fe5d26'></i>
                <i class='fa fa-phone mobile-ions' style='font-size:36px;color:#fe5d26'></i>
                <p>876-353-1153</p>
        
            </div>
            <div class="description">
                <i class='fa fa-envelope-open desktop-ions' style='font-size:36px;color:#fe5d26'></i>
                <i class='fa fa-envelope-open mobile-ions' style='font-size:36px;color:#fe5d26'></i>
                <p>yihshafarms@outlook.com</p>
                
            </div>
            <div class="description">
                <i class='fas fa-map-marker desktop-ions' style='font-size:36px;color:#fe5d26'></i>
                <i class='fa fa-map-marker mobile-ions' style='font-size:36px;color:#fe5d26'></i>
                <p>Chesterfield District, Stonehenge PO, St.James, Jamaica</p>
            </div>
        </div>
    </div>
</div>
