<div class="background">
    <h1 class="title">Customers Reviews</h1>
    <i class='fa fa-leaf' style='font-size:48px; color: #fe5d26; text-align: center; width: 100%;padding-top: 2rem;'></i>
    <div class="customer-reviews">
        <div class="review">
            <div class="stars">
                <p *ngFor="let n of starNum(5);"><i class='fa fa-star' style='font-size:12px; color: #fe5d26;'></i></p>
            </div>
            <p>Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
            <div class="user">
                <img src="../../../assets/images/face-1391628_1920.jpg" alt="user-2">
                <p>	Mike Sendler</p>
            </div>
        </div>
        <div class="deal-of-the-day">
            <div class="deal-of-the-day-cloak">
                <h1>Deal Of The Day 15% Off On All Vegetables!</h1>
                <p>I am text block. Click edit button to change this tex em ips.</p>
                <button (click)=" navigateToShop()"> SHOP NOW <i class='fa fa-angle-double-right' style='font-size:24px'></i></button>
            </div>
        </div>
        <div class="review">
            <div class="stars">
                <p *ngFor="let n of starNum(5);"><i class='fa fa-star' style='font-size:12px; color: #fe5d26;'></i></p>
            </div>
            <p>Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
            <div class="user">
                <img src="../../../assets/images/smile-2072907_960_720.jpg" alt="user-1">
                <p>Mila Kunis</p>
            </div>
        </div>
    </div>
</div>
