
.shopping-cart {
    background-color: white;
    height: 100vh;
    width: 100%;
    transition: all linear 0.5s;
  }

  button{
    background-color: white;
    margin-top: 2rem;
    color: #fe5d26;
    border: 2px solid #fe5d26;
    border-radius: 2px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.1s ease-in;
}

button:hover{
    background-color: #fe5d26;
    color: white;
}
.shoping-cart-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 85%;
}

.shoping-cart-details h1{
    margin: 0;
    box-sizing: border-box;
    padding: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #7c7c7c4d;
}
