<!-- Header -->
<ng-container>
<div>
<nav class="desktop-nav">
        <div class="left-nav-side">
            <a routerLink="/"><img class="logo" src="../assets/images/logo-black.png" alt="logo"></a>
            <ul>
                <li><a [ngClass]="currentRoute === '/home'? 'activeLink' : 'inactiveLink'" routerLink="/home">Home</a></li>
                <li><a [ngClass]="currentRoute === '/shop'? 'activeLink' : 'inactiveLink'" routerLink="/shop">Shop</a></li>
                <li><a [ngClass]="currentRoute === '/about'? 'activeLink' : 'inactiveLink'" routerLink="/about">About</a></li>
                <li><a [ngClass]="currentRoute === '/contact'? 'activeLink' : 'inactiveLink'" routerLink="/contact">Contact</a></li>
                <!-- <li><a [ngClass]="currentRoute === '/file-upload'? 'activeLink' : 'inactiveLink'" routerLink="/file-upload">test</a></li> -->
            </ul>
        </div>   
        <div class="right-nav-side">
            <ul>
                <li><p>{{ total | currency }}</p></li>
                <li><a (click)="toggle()"><div class="shopping-cart-img"><img src="../../../assets/images/shopping-cart.png" alt="shopping-cart"></div></a></li>
                <li *ngIf="loginStatus"><a [routerLink]="['/user-page/',userLogin.id]"><div class="user-img"><img [src]="imageBlobUrl" alt="user" *ngIf="imageBlobUrl"><img [src]="userLogin.image" alt="user" *ngIf="!imageBlobUrl"></div></a></li>
                <li *ngIf="!loginStatus"><a [ngClass]="currentRoute === '/login'? 'activeLink' : 'inactiveLink'" routerLink="/login">Login</a></li>
                <li *ngIf="loginStatus"><a (click)="logOut('0ms','0ms')">Log Out</a></li>
                <li *ngIf="!loginStatus"><button routerLink="/sign-up">Sign Up</button></li>
            </ul>
        </div>
    </nav> 

    <!-- mobile elements -->
    <div class="bg">
        <div class="container">
                <nav role="navigation">
                  <div id="menuToggle">
                    <input type="checkbox" #menuToggle (click)="menuCheckToggle(menuToggle.checked)"/>
                      <span></span>
                      <span></span>
                      <span></span>
                  <ul id="menu">
                    <li><a routerLink="/home">Home</a></li>
                    <li><a routerLink="/shop">Shop</a></li>
                    <li><a routerLink="/about">About</a></li>
                    <li><a routerLink="/contact">Contact</a></li>
                    <li><a routerLink="/shoping-cart">Shoping Cart</a></li>
                    <li *ngIf="loginStatus"><a [routerLink]="['/user-page/',userLogin.id]">Profile</a></li>
                    <li *ngIf="!loginStatus"><a routerLink="/login">Login</a></li>
                    <li *ngIf="loginStatus"><a (click)="logOut('0ms','0ms')">Log Out</a></li>
                    <li *ngIf="!loginStatus"><a routerLink="/sign-up">Sign Up</a></li>
                    <div class="nav-blurred-bg" (click)="menuBgToggle(menuToggle.checked)" #menuBg></div>
                  </ul>
                 </div>
                 <a routerLink="/home"><img class="logo" src="../assets/images/logo-black.png" alt="logo"></a>
                </nav>
        </div>
    </div>
    <!-- mobile elements -->

<div class="shopping-cart-bg2">
    <div [ngClass]="cartState? 'shoping-cart-bg' : 'ng-active'" ng-click="bool=!bool" (click)="toggle()">
    </div>
    <div class="shopping-cart" [@openShop] = "cartState? 'open' : 'closed'">
        <div class="shoping-cart-details">
            <h1>Shopping Cart <button class="cart-btn" (click)="toggle()"><i class="fa fa-close" style="font-size:12px;"></i></button></h1>
                <div class="cart-items-container">
                    <div class="cart-item"  *ngFor="let item of items; let i = index">
                        <img [src]="item.image" alt="cart-image">
                        <p>{{ item.name }}</p>
                        <small #subTotalWrap>({{ item.price | currency }})</small>
                        <p>{{ item.quantity }}</p>
                        <div class="amount">
                            <button class="cart-btn"  (click)="removeFromCart(item)"><i class="fa fa-minus" style="font-size:24px"></i></button>
                        </div>
                    </div>
                </div>
                <div class="cart-selectors">
                   <p> Order Total: <b> <span class="font-weight-bold  ">{{total | currency}}</span></b></p>
                <div class="shopping-cart-selectors">
                    <button class="cart-btn" routerLink="/cart">VIEW CART</button>
                    <button class="cart-btn" (click)="clearCart(items)">CLEAR CART</button>
                </div>
                </div>
        </div>
    </div> 
</div>
<!-- Header -->
    <!-- This is the Page routing Insertion Area -->
    <router-outlet></router-outlet>
    <!-- This is the Page routing Insertion Area -->
    
<!-- Footer -->
<div class="background-container">
    <div class="background">
        <div class="store-description">
            <img src="../assets/images/logo-white.png" alt="logo">
            <p>Maecenas mi justo, interdum at consectetur vel, tristique et arcu. Ut quis eros blandit, ultrices diam in, elementum ex. Suspendisse quis faucibus urna. Suspendisse pellentesque.</p>
        </div>
        <div class="footer-table">
                <div class="link"><h1>Quick Links</h1>
                    <ul>
                        <li><a routerLink="/about">About</a></li>
                        <li><a href="">Cart</a></li>
                        <li><a href="">Checkout</a></li>
                        <li><a routerLink="/contact">Contact</a></li>
                        <li><a routerLink="/home">Home</a></li>
                        <li><a href="">My account</a></li>
                        <li><a routerLink="/shop">Shop</a></li>
                    </ul>
                </div>
                <div class="link2"><h1>Site Links</h1>
                    <ul>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Shipping Details</a></li>
                        <li><a href="">Offers Coupons</a></li>
                        <li><a href="">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
    </div>
</div>
<div class="copyright">
    <p>Copyright © 2023 | Yisha Farms Store | Developed By   <a class="silas" href="https://www.instagram.com/silascoley.3/?next=%2F" target="_blank">Silas Coley</a></p>
    <div class="socials">
        <i class='fa fa-instagram' style='font-size:24px; color: white; padding: 0.5rem;'></i>
        <i class='fa fa-youtube' style='font-size:24px; color: white; padding: 0.5rem;'></i>
        <i class='fa fa-twitter' style='font-size:24px; color: white; padding: 0.5rem;'></i>
    </div>
</div>
</div>
</ng-container>
<!-- Footer -->
<!-- <button type="submit" value="Submit">Submit</button> -->    <!-- Footer --><!-- <button type="submit" value="Submit">Submit</button> -->