/* Header CSS */

.desktop-nav{
    height: 5rem;
    display: flex;
    padding-left: 1.5rem;
    justify-content: space-between;
    box-shadow: 0px 5px 8px #faedca4d;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 6;
}

.on{
    color: #fe5d26;
}

.off{
    color: black;
}


.left-nav-side ul, .right-nav-side ul{
    list-style: none;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
}

.inactiveLink, .right-nav-side li a{
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: 0.2s ease-in;
}

.inactiveLink:hover{
    color: #fe5d26;
}


.activeLink{
    cursor: pointer;
    text-decoration: none;
    color: #fe5d26;
    transition: 0.2s ease-in;
}


.left-nav-side{
    display: flex;
}

.left-nav-side li{
    display: inline-flex;
    margin-right: 2rem;
}

.left-nav-side img{
 height: 100%;
 margin-right: 2rem;
}

.right-nav-side{
    display: flex;
    margin-right: 2rem;
}

.right-nav-side li{
    display: inline;
    margin-right: 1rem;
}

.right-nav-side li:nth-child(1){
    color: #fe5d26;
}

.user-img{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    overflow: hidden;
    margin-right: -1rem;
}

.shopping-cart-img{
    width: 1.5rem;
    height: 1.5rem;
}

.right-nav-side img{
    width: 100%;
}

.shopping-cart-selectors{
    display: flex;
    gap: 2rem;
}

.cart-item{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    height: 5rem;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #fe5d26;
    box-shadow: 0px 5px 8px #1818184d;
    background-color: white;
}

.cart-item img {
   height: 100%;
}

@media only screen and (min-width: 1000px){
    .bg{
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    .desktop-nav{
        display: none;
    }

    .logo{
        height: 4rem;
        top: 4px;
        left: 80%;
        position: absolute;
    }

    /* *{
        border: 1px solid black;
    } */

    .bg {
        background-color: #f9f9f9;
        margin: 0;
        padding: 0;
      }
      a {
        text-decoration: none;
        color: white;
        opacity:1;
        font-size: 1.5em;
        font-weight: 400;
        transition: 200ms;
      }
      a:hover {
        opacity:0.5;
      }
      ul {
        padding: 0;
        list-style-type: none;
      }
      

      nav {
        background-color: white;
        height: 4.5rem;
        box-shadow: 0px 5px 8px #faedca4d;
        position: fixed;
        z-index: 5;
        width: 100%;
      }
      
      
      #menuToggle {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 30px;
        left: 25px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
      }
      
      #menuToggle input
      {
        display: flex;
        width: 40px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
      }

      /* *{
        border: 1px solid black;
      } */
      
      #menuToggle span
      {
        display: flex;
        width: 29px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        background: black;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 5px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
      }
      
      #menuToggle span:first-child
      {
        transform-origin: 0% 0%;
      }
      
      #menuToggle span:nth-last-child(2)
      {
        transform-origin: 0% 100%;
      }
      
      #menuToggle input:checked ~ span
      {
        opacity: 1;
        transform: rotate(45deg) translate(-3px, -1px);
        background: white;
      }
      #menuToggle input:checked ~ span:nth-last-child(3)
      {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }
      
      #menuToggle input:checked ~ span:nth-last-child(2)
      {
        transform: rotate(-45deg) translate(0, -1px);
      }
      
      #menu
      {
        position: absolute;
        width: 180px;
        height: 100vh;
        box-shadow: 0 0 10px #faedca4d;
        margin: -50px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        background-color: #fe5d26;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
      }
      
      #menu li
      {
        padding: 10px 0;
        transition-delay: 2s;
      }
      
      #menuToggle input:checked ~ ul
      {
        transform: none;
      }
  }




/* Fotter CSS */


/* *{
    margin: 0;
} */

/* *{
    border: 1px solid white;
} */

.background-container{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.store-description{
    display: flex;
    flex-direction: column;
    padding: 5% 0 0 5%;
    gap: 2rem;
    color: white;
    box-sizing: border-box;
    width: 40%;
}

.store-description img{
    width: 10rem;
}

.store-description p{
    width: 80%;
}

.background{
    display: flex;
}

.footer-table{
    height: 90vh;
}


.link{
    color: white;
    text-align: left;
    padding: 5% 5% 0 0 ;
}

.link ul, .link2 ul{
    padding: 0;
}

.link li{
    list-style: none;
    text-align: left;
}

.link li a{
    text-decoration: none;
    color: white;
}


.mobile-app{
    color: white;
    text-align: left;
    width: 50%;
}

.link2 h1{
    color: white;
}

.link2 a{
    color: #fe5d26;
    text-decoration: none;
}

.copyright{
    color: white;
    background-color: black;
    border-top: 1px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
}


.shoping-cart-bg{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #00000024;
    transition: all linear 0.5s;
    z-index: 5;
}

.shopping-cart {
    background-color: white;
    height: 100vh;
    width: 40%;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 60%;
    transition: all linear 0.5s;
    padding-top: 5rem;
  }

  .ng-active{
    opacity: 0;
  }

  .inactive{
    display: none;
  }
  
  .ng-hide {
    width: 0;
    /* background-color: transparent; */
    left: 100%;
  }

  button{
    background-color: white;
    color: #fe5d26;
    border: 2px solid #fe5d26;
    border-radius: 999px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.1s ease-in;
}

button:hover{
    background-color: #fe5d26;
    color: white;
}
.shoping-cart-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 85%;
}

.shoping-cart-details h1{
    margin: 0;
    box-sizing: border-box;
    padding: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #7c7c7c4d;
}

.desktop-socials{
    display: block;
}

.mobile-socials{
    display: none;
}

@media only screen and (max-width: 1000px){

    .shopping-cart-bg2{
        display: none;
    }

    .desktop-socials{
        display: none;
    }

    .mobile-socials{
        display: block;
    }
/* 
    .link h1{
        font-size: 1rem;
    }

    .link a{
        font-size: 0.5rem;
    }

    .mobile-app h1{
        font-size: 1rem;
    }

    .mobile-app p{
        font-size: 0.5rem;
    }

    .store-description img{
        width: 5rem;
    }
    
    .store-description p{
        width: 100%;
        font-size: 0.5rem;
    }

    .link2 h1{
        font-size: 1rem;
    }

    .link2 a{
        font-size: 0.5rem;
    } */
    
    .background-container{
        display: none;
    }
    .copyright p{
        font-size: 0.5rem;
    }
}