/* Header CSS */

nav{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 8px #faedca4d;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index:2;
}

.on{
    color: #fe5d26;
}

.off{
    color: black;
}


.left-nav-side ul, .right-nav-side ul{
    list-style: none;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
}

.left-nav-side a, .right-nav-side a{
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: 0.2s ease-in;
}


.left-nav-side a:hover{
    color: #fe5d26;
}

.right-nav-side a:hover{
    color: #fe5d26;
}


.left-nav-side{
    display: flex;
}

.left-nav-side li{
    display: inline-flex;
    margin-right: 2rem;
}

.left-nav-side img{
 height: 100%;
 margin-right: 2rem;
}

.right-nav-side{
    display: flex;
    margin-right: 2rem;
}

.right-nav-side li{
    display: inline;
    margin-right: 1rem;
}

.right-nav-side li:nth-child(1){
    color: #fe5d26;
}

.right-nav-side img{
    height: 1rem;
}



/* Fotter CSS */


/* *{
    margin: 0;
} */

.background-container{
    height: 80vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.store-description{
    display: flex;
    flex-direction: column;
    padding: 5% 0 0 5%;
    gap: 2rem;
    color: white;
    box-sizing: border-box;
}

.store-description img{
    width: 10rem;
}

.store-description p{
    width: 80%;
}

.background{
    display: flex;
}

.footer-table{
    height: 90vh;
}


.link{
    color: white;
    text-align: left;
    padding: 5% 5% 0 0 ;
}

.link ul, .link2 ul{
    padding: 0;
}

.link li{
    list-style: none;
    text-align: left;
}

.link li a{
    text-decoration: none;
    color: white;
}


.mobile-app{
    color: white;
    text-align: left;
    width: 50%;
}

.link2 h1{
    color: white;
}

.link2 a{
    color: #fe5d26;
    text-decoration: none;
}

.copyright{
    color: white;
    background-color: black;
    border-top: 1px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
}


.shoping-cart-bg{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #00000024;
    transition: all linear 0.5s;
}

.shopping-cart {
    background-color: white;
    height: 100vh;
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 60%;
    transition: all linear 0.5s;
    padding-top: 5rem;
  }

  .ng-active{
    opacity: 0;
  }
  
  .ng-hide {
    width: 0;
    /* background-color: transparent; */
    left: 100%;
  }

  button{
    background-color: white;
    margin-top: 2rem;
    color: #fe5d26;
    border: 2px solid #fe5d26;
    border-radius: 2px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.1s ease-in;
}

button:hover{
    background-color: #fe5d26;
    color: white;
}
.shoping-cart-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 85%;
}

.shoping-cart-details h1{
    margin: 0;
    box-sizing: border-box;
    padding: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #7c7c7c4d;
}

