<!-- Header -->
<div ng-app="ngAnimate">
    <nav class="desktop-nav">
        <div class="left-nav-side">
            <a routerLink="/"><img class="logo" src="../assets/images/logo-black.png" alt="logo"></a>
            <ul>
                <li><a [ngClass]="currentRoute === '/home'? 'activeLink' : 'inactiveLink'" routerLink="/home">Home</a></li>
                <li><a [ngClass]="currentRoute === '/shop'? 'activeLink' : 'inactiveLink'" routerLink="/shop">Shop</a></li>
                <li><a [ngClass]="currentRoute === '/about'? 'activeLink' : 'inactiveLink'" routerLink="/about">About</a></li>
                <li><a [ngClass]="currentRoute === '/contact'? 'activeLink' : 'inactiveLink'" routerLink="/contact">Contact</a></li>
            </ul>
        </div>
    
        <div class="right-nav-side">
            <ul>
                <li>$0.00</li>
            </ul>
            <ul>
                <li><a ng-click="bool=!bool" (click)="hideShop()"><div class="shopping-cart-img"><img src="../../../assets/images/shopping-cart.png" alt="shopping-cart"></div></a></li>
                <li><a [routerLink]="['/user-page/',userLogin.id]" *ngIf="loginStatus" ><div class="user-img"><img [src]="imageBlobUrl" alt="user" *ngIf="imageBlobUrl"><img [src]="userLogin.image" alt="user" *ngIf="!imageBlobUrl"></div></a></li>
                <li><a [ngClass]="currentRoute === '/login'? 'activeLink' : 'inactiveLink'" routerLink="/login" *ngIf="!loginStatus">Login</a></li>
                <li><a *ngIf="loginStatus" (click)="logOut('0ms','0ms')">Log Out</a></li>
                <li><button routerLink="/sign-up" *ngIf="!loginStatus">Sign Up</button></li>
            </ul>
    
        </div>
    </nav> 

    <!-- mobile elements -->
    <div class="bg">
        <div class="container">
                <nav role="navigation">
                  <div id="menuToggle">
                    <input type="checkbox" />
                      <span></span>
                      <span></span>
                      <span></span>
                  <ul id="menu">
                    <li><a routerLink="/home">Home</a></li>
                    <li><a routerLink="/shop">Shop</a></li>
                    <li><a routerLink="/about">About</a></li>
                    <li><a routerLink="/contact">Contact</a></li>
                    <li><a routerLink="/shoping-cart">Shoping Cart</a></li>
                    <li><a routerLink="/login">Profile</a></li>
                  </ul>
                 </div>
                 <a routerLink="/home"><img class="logo" src="../assets/images/logo-black.png" alt="logo"></a>
                </nav>
        </div>
    </div>
    <!-- mobile elements -->

<div class="shopping-cart-bg2">
    <div [ngClass]="hide? 'shoping-cart-bg' : 'ng-active'" ng-click="bool=!bool" (click)="hideShop()">
    </div>
    <div class="shopping-cart" ng-hide="!bool">
        <div class="shoping-cart-details" ng-hide="!bool">
            <h1>Shopping Cart</h1>
                <div class="cart-items" *ngFor="let items of cartItems">
                    <div *ngIf="cartStatus">
                        <img [src]="items.image" alt="cart-image" style="height: 2rem;">
                        <p>{{ items.name }}</p>
                        <div class="amount">
                            <button><i class="fa fa-plus" style="font-size:24px"></i></button>
                            <button><i class="fa fa-minus" style="font-size:24px"></i></button>
                        </div>
                    </div>
                </div>
                <div class="shopping-cart-selectors">
                    <button ng-click="bool=!bool" (click)="hideShop()">CONTINUE SHOPPING</button>
                    <button (click)="clearShoppingCart()">CLEAR SHOP</button>
                </div>
            
        </div>
    </div>
</div> 
    
<!-- Header -->
    
    <!-- This is the Page routing Insertion Area -->
    <router-outlet></router-outlet>
    <!-- This is the Page routing Insertion Area -->
    
<!-- Footer -->
<div class="background-container">
    <div class="background">
        <div class="store-description">
            <img src="../assets/images/logo-white.png" alt="logo">
            <p>Maecenas mi justo, interdum at consectetur vel, tristique et arcu. Ut quis eros blandit, ultrices diam in, elementum ex. Suspendisse quis faucibus urna. Suspendisse pellentesque.</p>
        </div>
        <table class="footer-table">
            <thead>
              <tr>
                <th class="link"><h1>Quick Links</h1>
                    <ul>
                        <li><a routerLink="/about">About</a></li>
                        <li><a href="">Cart</a></li>
                        <li><a href="">Checkout</a></li>
                        <li><a routerLink="/contact">Contact</a></li>
                        <li><a routerLink="/home">Home</a></li>
                        <li><a href="">My account</a></li>
                        <li><a routerLink="/shop">Shop</a></li>
                    </ul>
                </th>
                <th class="mobile-app"><h1>Download Our Mobile App</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam gravida sollicitudin. Praesent porta enim mi, non tincidunt libero interdum sit amet.</p>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="link"><h1>Site Links</h1>
                    <ul>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Shipping Details</a></li>
                        <li><a href="">Offers Coupons</a></li>
                        <li><a href="">Terms & Conditions</a></li>
                    </ul>
                </td>
                <td class="link2"><h1>Links</h1> 
                    <ul>
                        <li><a href="">Know More About Us</a></li>
                        <li><a href="">Visit Store</a></li>
                        <li><a href="">Let’s Connect</a></li>
                        <li><a href="">Locate Stores</a></li>
                    </ul>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="copyright">
    <p>Copyright © 2023 | Yisha Farms Store</p>
    <div class="socials desktop-socials">
        <i class='fab fa-instagram' style='font-size:24px; color: white; padding: 0.5rem;'></i>
        <i class='fab fa-youtube' style='font-size:24px; color: white; padding: 0.5rem;'></i>
        <i class='fab fa-twitter' style='font-size:24px; color: white; padding: 0.5rem;'></i>
        <i class='fab fa-instagram' style='font-size:24px; color: white; padding: 0.5rem;'></i>
    </div>
    <div class="socials mobile-socials">
        <i class='fa fa-instagram' style='font-size:24px; color: white; padding: 0.5rem;'></i>
        <i class='fa fa-youtube' style='font-size:24px; color: white; padding: 0.5rem;'></i>
        <i class='fa fa-twitter' style='font-size:24px; color: white; padding: 0.5rem;'></i>
        <i class='fa fa-instagram' style='font-size:24px; color: white; padding: 0.5rem;'></i>
    </div>
</div>
</div>
<!-- Footer -->
<!-- <button type="submit" value="Submit">Submit</button> -->    <!-- Footer --><!-- <button type="submit" value="Submit">Submit</button> -->