.background{
    background-color:white; 
    padding: 8rem 4rem;
    display: flex;
    gap: 4rem;
}

.billing-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: 100%;
   
}
h1{
    color:  #fe5d26;
}
.order-table-title{
    font-size: 1.5rem;
    color:  #fe5d26;
}



.your-order-table{
    border: 2px solid #828e9c;
    padding: 1rem 2rem;
    width: 100%;
}

.your-order-table-head th{
    text-align: left;
    padding: 0 0 2rem 0;
}

.your-order-table-head th, .your-order-table-body td{
    width: 16rem;
}

.bottom-border{
    border-bottom: 1px solid #828e9c;
}

.example-full-width{
    width: 100%;
    margin-bottom: 1rem;
}
.your-order-table-body td{
    padding: 1rem 0;
}

.order-accepted{
    position: absolute;
    z-index: 999;
    height: 5rem;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #00dd65;
    font-size: 100%;
    background-color: white;
    box-shadow: 0px 5px 8px #1818184d;
    padding: 1rem 2rem;
    border-radius: 10px 0 0 10px;
}

.order-accepted h2{
    color: #00dd65;
}

.check-icon{
    width: 5rem;
}

@media only screen and (max-width: 1000px){

    .background{
        padding: 5rem 0;
    }
    .billing-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin: 2rem 1rem;
    }

    .background h1{
        text-align: center;
    }
}