<div class="background">
    <mat-paginator [length]="customerLogs.length"
              [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page" #paginator>
    </mat-paginator>
    <mat-card class="log-header">
        <mat-card-content class="card-content">
           <div class="log-headers">
            <h2>First Name</h2>
            <h2>Last Name</h2>
            <h2>Phone Number</h2>
            <h2>Purchase Time</h2>
            <h2>Email Address</h2>
            <h2>Order Status</h2>
           </div>
        </mat-card-content>
    </mat-card>
    <div class="user-log" *ngFor="let customerLog of customerLogs | slice:(paginator.pageIndex * paginator.pageSize):(paginator.pageIndex + 1) * paginator.pageSize">
        <mat-card class="user">
            <mat-card-content  class="card-content">
                    <div class="log-content">
                        <p>{{customerLog.firstName}}</p>
                        <p>{{customerLog.lastName}}</p>
                        <p>{{customerLog.phone}}</p>
                        <p>{{customerLog.purchaseTime}}</p>
                        <p>{{customerLog.email}}</p>
                        <mat-chip-option *ngIf="admin" class="chip-option" color="accent" [selected]="customerLog.orderStatus" (click)="updateOrders(customerLog.log,customerLog.id,chip.selected)" #chip>Order Completed</mat-chip-option>
                        <p *ngIf="!customerLog.orderStatus && !admin">Pending</p>
                        <p *ngIf="customerLog.orderStatus && !admin">Completed</p>
                    </div>
            </mat-card-content>
        </mat-card>
        <mat-accordion class="accordion">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                    <div class="address-log">
                        <p><strong>Address</strong></p>
                        <p><strong>Address 2</strong></p>
                        <p><strong>City</strong></p>
                        <p><strong>State</strong></p>
                        <p><strong>Zip Code</strong></p>
                    </div>
              </mat-expansion-panel-header>
              <div class="address-log">
                <p>{{customerLog.shippingAddress.adress}}</p>
                <p>{{customerLog.shippingAddress.address2}}</p>
                <p>{{customerLog.shippingAddress.city}}</p>
                <p>{{customerLog.shippingAddress.state}}</p>
                <p>{{customerLog.shippingAddress.zipCode}}</p>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <div class="product-log">
                        <p><strong>Image</strong></p>
                        <p><strong>Product</strong></p>
                        <p><strong>Price</strong></p>
                        <p><strong>Quantity</strong></p>
                        <p><strong>Subtotal</strong></p>
                    </div>
                </mat-expansion-panel-header>
                <div class="product-log" *ngFor="let product of customerLog.productPurchased">
                    <div class="product-img">
                        <img [src]="product.image" alt="product-img">
                    </div>
                    <p>{{product.name}}</p>
                    <p>{{product.price}}</p>
                    <p>{{product.quantity}}</p>
                    <p>{{product.subTotal}}</p>
                </div>
                <mat-divider></mat-divider>
                <div class="product-log">
                    <p><strong>TOTAL:</strong></p>
                    <p class="total-price"><strong>{{customerLog.total}}</strong></p>
                </div>
              </mat-expansion-panel>
          </mat-accordion>
          <mat-divider></mat-divider>
    </div>
</div>
