/* 
*{
    border: 1px solid black;
} */
.background-container{
    background-image: url(../../assets/images/website-bg.svg);
    background-size: cover;
}

.background{
    background-color: rgba(255, 255, 255,0.4);
    padding: 8rem;
    display: flex;
}

.search-bar{
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters h3{
font-size: 1.8rem;
}

.search-bar button{
    padding: 0.5rem;
}

.search-bar button i{
    transition: 0.2s ease-in;
}

.search-bar button:hover{
    background-color: #ff5015;
}

.search-bar button:hover i{
    transform: translateX(2px);
}


.prices{
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.prices input{
    width: 10%;
    padding: 0.5rem;
    color: #828e9c;
    border-radius: 2px;
    border: none;
}

.groceries, .juices{
    display: flex;
    gap: 0.5rem;
}
.groceries p, .juices p{
    margin: 0.5rem 0;
}
.groceries a, .juices a{
    text-decoration: none;
    color: #fe5d26;
}


.left-shopping-gallery{
    margin-top: 1rem;
    display: grid;
    grid-template-rows: repeat(3,1fr);
}

.search{
    width: 30%;
    padding-right: 3rem;
}

.search-bar input{
    width: 80%;
    height: 3rem;
    border: none;
    border-radius: 2px;
    padding-left: 1rem;
}

.search button{
    width: 3rem;
    height: 3rem;
    background-color: #fe5d26;
    color: white;
    border: none;
    border-radius: 2px;
    /* padding: 0.5rem 1rem; */
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;

}

.shop{
    width: 70%;
    height: 80%;
    padding-left: 3rem;
    border-left: 1px solid #95a3b3;
}

.shop h1, .left-shopping-gallery h1{
    font-size: 4rem;
    margin: 0;
    color: #fe5d26;
    margin-bottom: 4rem;
}

.items-showing{
    display: flex;
    justify-content: space-between;
}

.items-showing select{
    border: none;
    padding: 0.2rem;
    color: #828e9c;
    border-radius: 2px;
}

.items-showing p{
    margin: 0;
}

.shoping-items{
    height: 70%;
    display: grid;
    margin-top: 1rem;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 2rem;
}

.gallery-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.gallery-item:hover{
    background-color: #95a3b34d;
}

.image{
    height: 15rem;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img{
    height: 100%;
}

.shop a,.left-shopping-gallery a{
    text-decoration: none;
    color: black;
    text-align: center;
    width: 80%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.gallery-item h1{
    font-size: 1.5rem;
    margin: 0;
}

.gallery-item p{
    font-size: 0.7rem;
    margin: 0;
}

.gallery-item .stars{
    display: flex;
}

.navs button{
    width: 10%;
    padding: 1rem;
    margin-right: 2rem;
    background: none;
    border: 2px solid #fe5d26;
    font: inherit;
    color: #fe5d26;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.2s ease-in;
}

.navs button:nth-child(1){
    background-color: #fe5d26;
    color: white;
}

.navs button:hover{
    background-color: #fe5d26;
    color: white;
}

.mobile-shop{
    display: none;
}

@media only screen and (max-width: 1000px){
    /* *{
        border: 1px solid black
    } */

    .mobile-shop{
        display: block;
    }
    .desktop{
        display: none;
    }

    .background{
        padding: 6rem 1rem 0 1rem;
        flex-direction: column;
    }

    .search{
        width: 100%;
    }

    .filters h3{
        font-size: 1.2rem;
    }

    .search-bar input{
        width: 70%;
        height: 3rem;
        border-radius: 8px;
        font-size: 1rem;
    }

    .search button{
        width: 30%;
        height: 3.2rem;
        border-radius: 8px;
        font-size: 1rem;
        font-weight: 500;
    }

    .prices input{
        width: 20%;
        height: 3rem;
        border-radius: 8px;
        font-size: 1rem;
    }

    .shop{
        width: 100%;
        height: 80%;
        padding: 0;
        border: none;
    }

    .shop h1{
        margin: 0 0 2rem 0;
    }

    .shop p{
        width: 100%;
        margin: 2rem 0 2rem 0;
    }

    .navs button{
        width: 20%;
    }

    .gallery-item h1{
        font-size: 1rem;
        text-align: center;
    }

    .gallery-item h2{
        font-size: 1rem;
    }


    .gallery-item img{
        height: 5rem;
    }
    
    .shoping-items{
        display: grid;
        margin-top: 4rem;
        grid-template:  repeat(2,1fr) / repeat(2,1fr);
        overflow: hidden;
        gap: 1rem;
    }


    .image{
        height: 100%;
        width: 100%;
    }

    .items-showing{
        margin-top: 1rem;
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }
    
    .items-showing select{
        border: none;
        padding: 0.2rem;
        color: #828e9c;
        /* width: 20%; */
        height: 3rem;
        border-radius: 8px;
        font-size: 1rem;
        background-color: white;
    }
    
    .items-showing p{
        margin: 0;
    }
 
}