<div class="background-container desktop">
    <div class="background">
        <div class="search">
            <div class="search-bar">
                <input placeholder="Search...">
                <button><i class='fa fa-angle-double-right' style='font-size:24px'></i></button>
            </div>
            <div class="filters">
                <h3>Filter by Price</h3>
            </div>
            <div class="prices">
                <input type="text" value="$40.00">
                <input type="text" value="$80.00">
            </div>
            <div class="groceries">
                    <a href=""><p>Groceries</p></a><p>(10)</p>
            </div>
            <div class="juices">
                    <a href=""><p>Juices</p></a><p>(6)</p>
            </div>
            <div class="left-shopping-gallery">
                <div class="gallery-item" *ngFor="let product of leftProducts">
                    <a [routerLink]="['/product-landing', product.id]"><div class="image"><img [src]="product.image"></div></a>
                    <p>{{ product.type }}</p>
                    <a [routerLink]="['/product-landing', product.id]"><h1>{{ product.name }}</h1></a>
                    <div class="stars">
                    <p *ngFor="let n of starNum(product.star);"><i class='fa fa-star' style='font-size:12px; color: #fe5d26;'></i></p>
                    <p *ngFor="let n of starNum(5-product.star);"><i class='fa fa-star' style='font-size:12px'></i></p>
                    </div>
                    <h2>${{ product.price }}.00</h2>
                </div>
            </div>
        </div>
        <div class="shop">
            <p>Home / shop</p>
            <h1>Shop</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim, velit et luctus interdum, est quam scelerisque tellus, eget luctus mi diam vitae erat. Praesent porttitor lacus vitae dictum posuere. Suspendisse elementum metus ac dolor tincidunt, eu imperdiet nisi dictum. <br><br></p>
            <div class="items-showing">
                <p>Showing 1-9 of 12 results</p>
                <select name="sorting" id="sorting">
                    <option value="0">Default Sorting</option>
                    <option value="1">Sort by popularity</option>
                    <option value="2">Sort by average rating</option>
                    <option value="3">Sort by latest</option>
                    <option value="4">Sort by price: low to high</option>
                    <option value="5">Sort by price: high to low</option>
                </select>
            </div>
            <div class="shoping-items">
                <div class="gallery-item" *ngFor="let product of products">
                    <a [routerLink]="['/product-landing', product.id]"><div class="image"><img [src]="product.image"></div></a>
                    <p>{{ product.type }}</p>
                    <a [routerLink]="['/product-landing', product.id]"><h1>{{ product.name }}</h1></a>
                    <div class="stars">
                    <p *ngFor="let n of starNum(product.star);"><i class='fa fa-star' style='font-size:12px; color: #fe5d26;'></i></p>
                    <p *ngFor="let n of starNum(5-product.star);"><i class='fa fa-star' style='font-size:12px'></i></p>
                    </div>
                    <h2>${{ product.price }}.00</h2>
                </div>
            </div>
            <div class="navs">
                <button (click)="firstPage()">1</button>
                <button (click)="nextPage()">2</button>
                <button (click)="restOfProducts()"><i class='fa fa-angle-right' style='font-size:20px'></i></button>
            </div>
        </div>
    </div>
</div>

<!-- Shop Mobile Layout -->
<div class="background-container mobile-shop">
    <div class="background">
        <div class="shop">
            <h1>Shop</h1>
        </div>
        <div class="search">
            <div class="search-bar">
                <input placeholder="Search...">
                <button><i class='fa fa-angle-double-right' style='font-size:24px'></i></button>
            </div>
            <div class="filters">
                <h3>Filter by Price</h3>
            </div>
            <div class="prices">
                <input type="text" value="$40.00">
                <input type="text" value="$80.00">
            </div>
            <div class="groceries">
                    <a href=""><p>Groceries</p></a><p>(10)</p>
            </div>
            <div class="juices">
                    <a href=""><p>Juices</p></a><p>(6)</p>
            </div>
        </div>
            <div class="items-showing">
                <p>Showing 1-9 of 12 results</p>
                <select name="sorting" id="sorting">
                    <option value="0">Default Sorting</option>
                    <option value="1">Sort by popularity</option>
                    <option value="2">Sort by average rating</option>
                    <option value="3">Sort by latest</option>
                    <option value="4">Sort by price: low to high</option>
                    <option value="5">Sort by price: high to low</option>
                </select>
            </div>
            <div class="shoping-items">
                <div class="gallery-item" *ngFor="let product of products">
                    <a [routerLink]="['/product-landing', product.id]"><div class="image"><img [src]="product.image"></div></a>
                    <p>{{ product.type }}</p>
                    <a [routerLink]="['/product-landing', product.id]"><h1>{{ product.name }}</h1></a>
                    <div class="stars">
                    <p *ngFor="let n of starNum(product.star);"><i class='fa fa-star' style='font-size:12px; color: #fe5d26;'></i></p>
                    <p *ngFor="let n of starNum(5-product.star);"><i class='fa fa-star' style='font-size:12px'></i></p>
                    </div>
                    <h2>${{ product.price }}.00</h2>
                </div>
            </div>
            
            <div class="navs">
                <button>1</button>
                <button (click)="nextPage()">2</button>
                <button (click)="restOfProducts()"><i class='fa fa-angle-right' style='font-size:20px'></i></button>
            </div>
        

            <div class="shop">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim, velit et luctus interdum, est quam scelerisque tellus, eget luctus mi diam vitae erat. Praesent porttitor lacus vitae dictum posuere. Suspendisse elementum metus ac dolor tincidunt, eu imperdiet nisi dictum.</p>
            </div>
    </div>
</div>