<div class="background-container desktop">
    <div class="background">
        <div class="search">
            <div class="search-bar">
                <input placeholder="Search..." [(ngModel)]="searchItem">
                <button><i class='fa fa-angle-double-right' style='font-size:24px'></i></button>
            </div>
            <div class="filters">
                <h3>Filter by Type</h3>
            </div>
            <!-- <div class="prices">
                <input type="text" value="$4.00">
                <input type="text" value="$8.00">
            </div> -->
            <div class="groceries">
                    <a style="cursor: pointer;" (click)="filterProduct('Seasonings')"><p>Seasonings</p></a><p>({{seasoningNum}})</p>
            </div>
            <div class="juices">
                    <a style="cursor: pointer;" (click)="filterProduct('Sauces')"><p>Sauces</p></a><p>({{sauceNum}})</p>
            </div>
            <div class="juices">
                    <a style="cursor: pointer;" (click)="filterProduct('Snacks')"><p>Snacks</p></a><p>({{snackNum}})</p>
            </div>
            <div class="juices">
                    <a style="cursor: pointer;" (click)="filterProduct('Teas')"><p>Teas</p></a><p>({{teaNum}})</p>
            </div>
            <div class="juices">
                <a style="cursor: pointer;" (click)="filterProduct('Bundles')"><p>Bundles</p></a><p>({{bundleNum}})</p>
        </div>
            <div class="left-shopping-gallery">
                <div class="gallery-item" *ngFor="let product of leftProducts">
                    <a [routerLink]="['/product-landing', product.id]"><div class="image"><img [defaultImage]="image" [lazyLoad]="product.image"></div></a>
                    <p>{{ product.type }}</p>
                    <a [routerLink]="['/product-landing', product.id]"><h1>{{ product.name }}</h1></a>
                    <div class="stars">
                    <p *ngFor="let n of starNum(product.star);"><i class='fa fa-star' style='font-size:12px; color: #fe5d26;'></i></p>
                    <p *ngFor="let n of starNum(5-product.star);"><i class='fa fa-star' style='font-size:12px'></i></p>
                    </div>
                    <h2 *ngIf="!(product.discount > 0)">{{product.price | currency}}</h2>
                    <h2 class="discount" *ngIf="product.discount > 0">
                        <span class="discount-percentage">-{{product.discount}}%</span>
                        {{ ((this.product.price - (this.product.price * (this.product.discount / 100))).toFixed(2)) | currency}}<br> 
                        <span class="previous-discount">list price: <s>{{ product.price | currency}}</s></span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="shop">
            <p>Home / shop</p>
            <h1>Shop</h1>
            <p>Welcome to Yihsha Farms, your ultimate destination for all things Jamaican food and grocery! Whether you're a Jamaican living abroad or simply a lover of Jamaican cuisine, we're here to bring the authentic taste of Jamaica right to your doorstep.<br><br></p>
            <div class="items-showing">
                <p>Showing 1-{{products?.length}} of {{sauceNum + seasoningNum + bundleNum + snackNum + teaNum}} results</p>
                <select name="sorting" id="sorting" (change)="sort($event)" p>
                    <option value="0">Default Sorting</option>
                    <option value="1">Sort by price: low to high</option>
                    <option value="2">Sort by price: high to low</option>
                    <option value="3">Sort by average rating</option>
                    <!-- <option value="3">Sort by popularity</option>
                    <option value="5">Sort by latest</option> -->
                </select>
            </div>
            <div class="shoping-items">
                <div class="gallery-item" *ngFor="let product of products | filter:searchItem">
                    <a [routerLink]="['/product-landing', product.id]"><div class="image"><img [defaultImage]="image" [lazyLoad]="product.image"></div></a>
                    <p>{{ product.type }}</p>
                    <a [routerLink]="['/product-landing', product.id]"><h1>{{ product.name }}</h1></a>
                    <div class="stars">
                    <p *ngFor="let n of starNum(product.star);"><i class='fa fa-star' style='font-size:12px; color: #fe5d26;'></i></p>
                    <p *ngFor="let n of starNum(5-product.star);"><i class='fa fa-star' style='font-size:12px'></i></p>
                    </div>
                    <h2 *ngIf="!(product.discount > 0)">{{ product.price | currency}}</h2>
                    <h2 class="discount" *ngIf="product.discount > 0">
                        <span class="discount-percentage">-{{product.discount}}%</span>
                        {{ ((this.product.price - (this.product.price * (this.product.discount / 100))).toFixed(2)) | currency}}<br>
                        <span class="previous-discount">list price: <s>{{product.price | currency}}</s></span>
                    </h2>
                </div>
            </div>
            <div class="navs">
                <button (click)="firstPage()">1</button>
                <button (click)="nextPage()">2</button>
                <button (click)="restOfProducts()"><i class='fa fa-angle-right' style='font-size:20px'></i></button>
            </div>
        </div>
    </div>
</div>

<!-- Shop Mobile Layout -->
<div class="background-container mobile-shop">
    <div class="background">
        <div class="shop">
            <h1>Shop</h1>
        </div>
        <div class="search">
            <div class="search-bar">
                <input placeholder="Search...">
                <button><i class='fa fa-angle-double-right' style='font-size:24px'></i></button>
            </div>
            <div class="filters">
                <h3>Filter by Type</h3>
            </div>
            <!-- <div class="prices">
                <input type="text" value="$40.00">
                <input type="text" value="$80.00">
            </div> -->
            <div class="groceries">
                <a style="cursor: pointer;" (click)="filterProduct('Seasonings')"><p>Seasonings</p></a><p>({{seasoningNum}})</p>
            </div>
            <div class="juices">
                    <a style="cursor: pointer;" (click)="filterProduct('Pepper Sauces')"><p>Pepper Sauces</p></a><p>({{sauceNum}})</p>
            </div>
            <div class="juices">
                    <a style="cursor: pointer;" (click)="filterProduct('Snacks')"><p>Snacks</p></a><p>({{snackNum}})</p>
            </div>
            <div class="juices">
                    <a style="cursor: pointer;" (click)="filterProduct('Teas')"><p>Teas</p></a><p>({{teaNum}})</p>
            </div>
            <div class="juices">
                <a style="cursor: pointer;" (click)="filterProduct('Bundles')"><p>Bundles</p></a><p>({{bundleNum}})</p>
            </div>
        </div>
            <div class="items-showing">
                <p>Showing 1-{{products?.length}} of {{sauceNum + seasoningNum + bundleNum + snackNum + teaNum}} results</p>
                <select name="sorting" id="sorting" (change)="sort($event)">
                    <option value="0">Default Sorting</option>
                    <option value="1">Sort by price: low to high</option>
                    <option value="2">Sort by price: high to low</option>
                    <option value="3">Sort by average rating</option>
                    <!-- <option value="3">Sort by popularity</option> -->
                    <!-- <option value="5">Sort by latest</option> -->
                </select>
            </div>
            <div class="shoping-items">
                <div class="gallery-item" *ngFor="let product of products | filter:searchItem">
                    <a [routerLink]="['/product-landing', product.id]"><div class="image"><img [src]="product.image"></div></a>
                    <p>{{ product.type }}</p>
                    <a [routerLink]="['/product-landing', product.id]"><h1>{{ product.name }}</h1></a>
                    <div class="stars">
                    <p *ngFor="let n of starNum(product.star);"><i class='fa fa-star' style='font-size:12px; color: #fe5d26;'></i></p>
                    <p *ngFor="let n of starNum(5-product.star);"><i class='fa fa-star' style='font-size:12px'></i></p>
                    </div>
                    <h2 *ngIf="!(product.discount > 0)">{{ product.price | currency}}</h2>
                    <h2 class="discount" *ngIf="product.discount > 0">
                        <span class="discount-percentage">-{{product.discount}}%</span>
                        {{ ((this.product.price - (this.product.price * (this.product.discount / 100))).toFixed(2)) | currency}}<br>
                        <span class="previous-discount">list price: <s>{{product.price | currency}}</s></span>
                    </h2>
                </div>
            </div>
            
            <div class="navs">
                <button>1</button>
                <button (click)="nextPage()">2</button>
                <button (click)="restOfProducts()"><i class='fa fa-angle-right' style='font-size:20px'></i></button>
            </div>
        

            <div class="shop">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim, velit et luctus interdum, est quam scelerisque tellus, eget luctus mi diam vitae erat. Praesent porttitor lacus vitae dictum posuere. Suspendisse elementum metus ac dolor tincidunt, eu imperdiet nisi dictum.</p>
            </div>
    </div>
</div>