/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
}


*{
    /* border: 1px solid black; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media only screen and (max-width: 1000px){
        
    html,body{
        overflow-x: hidden;
    }
}