.background{
    background-color: white;
    padding: 2rem 4rem;
    min-width: 30rem;
    border-radius: 8px;
    display: flex; 
    align-items: center;
    flex-direction: column;
}

.title{
    font-weight: 600;
    color: #fe5d26;
    text-align: center;
    width: 100%;
}

.add-product, .box-properties{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
* :not(.options, button){
    width: 100%;
}

.options{
    justify-content: center;
    margin-bottom: 2rem;
}
.card-items{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    align-items: center;
    text-align: center;
    padding: 0;
}

.amount-input{
    margin-right: 2rem;
}

.card-items img{
    width: 30% !important;
    margin: auto;
}

.card, .logs{
    margin: 1rem;
    width: 100%;
}

.box-properties{
    max-height: 40rem;
}
/* *{
    border: 1px solid black;
} */
.background-grid{
    display: grid;
    gap: 2rem;
    margin: 1rem 2rem;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
}
.grid-item{
    border: 1px solid #fe5d26;
    box-shadow: 0px 5px 8px #1818184d;
    padding: 0.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    transition: 0.2s ease-in;
    cursor: pointer;
}

.grid-profile-item{
    border: 1px solid #fe5d26;
    box-shadow: 0px 5px 8px #1818184d;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    transition: 0.2s ease-in;
    cursor: pointer;
}

.logs{
    width: 90rem;
}

.grid-item img {
    border-radius: 5px;
}

.example-full-width{
    width: 100%;
}

.discount{
    display: flex;
}

@media only screen and (min-width: 1000px){

    .grid-item:hover{
        transform: scale(1.02)
    }
}
@media only screen and (max-width: 1000px){
    .background{
        background-color: white;
        min-width: auto;
        padding: 0 2rem;
        width: auto;
        border-radius: 8px;
        display: flex; 
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}